.app-menu {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
    min-width: 270px;
    max-width: 28%;
    border-right: 1px solid rgba(255, 255, 255, 0.35);
    border-left: 0;
    order: -1;
    padding: 15px;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    flex: 1;
    box-shadow: none;
    z-index: 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}
